*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/Browse.plb
*.apk
*.ap_
*.aab
*.dex
*.class
.navigation/
captures/
output.json
*.hprof
.cxx/
kotlin-js-store/
